.order_list_bx {
  .go_back_right_lbx {
    width: 15.5rem;
    height: 1.95rem;
  }
  .content {
    margin-top: 0.8rem;
    height: 90vh;
    .tab-slide-container {
      height: 100%;
    }
  }
}

.cube-tab-bar {
  font-size: 0.7rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.2rem !important;
  .cube-tab {
    margin: 0 1rem;
    height: 1.5rem;
    display: inline-block;
    div {
      font-size: 0.6rem !important;
    }
  }
  .cube-tab_active {
    div {
      font-size: 0.8rem !important;
    }
  }
}
