.append_car {
  width: 100%;
  height: 2.2rem;
  position: fixed;
  bottom: 2.25rem;
  left: 0;
  z-index: 11;
  background-color: #fff;
  .append_car_left {
    height: 2.2rem;
    position: relative;
    .icon_bx {
      width: 0.95rem;
      height: 0.95rem;
      color: $themeColor;
      @include positionCenter;
      .num_charact {
        width: 0.75rem;
        height: 0.75rem;
        line-height: 0.75rem;
        text-align: center;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 700;
        background-color: $priceActiveColor;
        @include borderRadius(50%);
        position: absolute;
        right: -0.2rem;
        top: -0.2rem;
      }
    }
  }
  .append_car_right {
    height: 2.2rem;
    margin-left: 0 !important;
    .append_car_right_left {
      font-size: 0.75rem;
      color: #fff;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      background-color: $themeColor;
    }
    .append_car_right_right {
      height: 2.2rem;
      margin-left: 0 !important;
      color: $themeColor;
      .opera_icon_bx {
        width: 1.9rem;
        height: 2.2rem;
        position: relative;
        float: left;
        .icon_bx {
          width: 0.6rem;
          height: 0.6rem;
          @include positionCenter;
        }
      }
      .num_input {
        text-align: center;
        font-weight: 700;
        color: $themeColor;
        font-size: 0.75rem;
        float: left;
        width: 1.3rem;
        height: 2.2rem;
        background-color: #fff;
      }
      input:disabled {
        background-color: #fff;
        color: $themeColor;
        opacity: 1;
        -webkit-text-fill-color: $themeColor;
        -webkit-opacity: 1;
      }
    }
  }
  .key_borad {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 2.175rem;
    left: 0;
    .title {
      height: 2rem;
      line-height: 2rem;
      color: #9b9b9b;
      font-size: 0.6rem;
      text-align: left;
      padding-left: 0.7rem;
    }
    .keys_out_bx {
      width: 100%;
      height: auto;
    }
    .borad_item {
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      margin-left: 0 !important;
      div {
        font-size: 0.75rem;
        position: relative;
        @include halfTopLine;
        &.have_right_line {
          @include halfRightLine;
        }
        &.active {
          background-color:#f1f1f1;
        }
      }
    }
  }
}
