.landscape_list_item {
  height: 6.35rem;
  padding: 0.75rem 0.65rem;
  position: relative;
  @include halfUnderLine;
  .item_left {
    float: left;
    img {
      display: block;
      width: 4.75rem;
      height: 4.75rem;
    }
    padding-right: 0.75rem;
  }
  .item_right {
    text-align: left;
    float: left;
    .title {
      font-size: 14px;
      @include singleLineView;
    }
    .price {
      padding-top: 0.7rem;
      font-weight: 700;
      font-size: 0.8rem;
      color: $priceActiveColor;
    }
    .price_odder {
      color: #bebebe;
      font-size: 10px;
      text-decoration: line-through;
      padding-top: 0.2rem;
    }
  }
  .goods_car_bx {
    position: absolute;
    bottom: 0.75rem;
    right: 0.65rem;
    .buy_btn {
      font-size: 0.8rem;
      color: #fff;
      background-color: $themeColor;
      padding: 0.5rem 1rem;
      @include borderRadius(21px);
    }
  }
  .input_num_bx {
    width: 4rem;
    position: absolute;
    bottom: 0.75rem;
    right: 0.65rem;
  }
}
