
.my_zoe_bx {
  height: 100%;
  position: relative;
  .top_bx {
    padding-top: 1.7rem;
    position: relative;
    .top_banner {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .user_avatar {
      position: relative;
      width: 3.3rem;
      height: 3.3rem;
      margin: 0 auto;
      background-color: #f0fbf3;
      border: 4px solid #fff;
      @include borderRadius(50%);
      overflow: hidden;
      .not_login {
        width: 1.7rem;
        height: 1.7rem;
        @include positionCenter;
        color: #6dd68b;
      }
    }
    .login_link {
      position: relative;
      padding-top: 1rem;
      a {
        color: #fff;
        font-size: 0.75rem;
      }
    }
  }
  .middle_center_bx {
    width: 100%;
    padding: 1.5rem 0.7rem 0;
    .nav_list {
      width: 100%;
      height: 5.1rem;
      background-color: #fff;
      position: relative;
      @include borderRadius(5px);
      .flex_bx {
        @include positionCenter;
      }
      .zoe_nav_item {
        a {
          display: block;
          text-align: center;
          .icon_bx {
            width: 1.75rem;
            height: 1.75rem;
            display: inline-block;
          }
          .item_label {
            font-size: 0.6rem;
            padding-top: 0.5rem;
          }
        }
      }
    }
    .service_phone {
      margin-top: 5rem;
      text-align: center;
      .title {
        font-size: 0.6rem;
        color: $inputPlaceHolderColor;
        display: inline-block;
        position: relative;
        &::before {
          content: '';
          width: 3.2rem;
          height: 1px;
          background-color: $morenColor;
          position: absolute;
          top: 50%;
          left: -110%;
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
        }
        &::after {
          content: '';
          width: 3.2rem;
          height: 1px;
          background-color: $morenColor;
          position: absolute;
          top: 50%;
          right: -110%;
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
        }
      }
      p {
        padding-top: 0.5rem;
        color: $inputPlaceHolderColor;
        font-size: 15px;
      }
    }
  }
  .statement_bx {
    width: 100%;
    text-align: center;
    color: $inputPlaceHolderColor;
    font-size: 0.6rem;
    position: absolute;
    bottom: 5rem;
    left: 0;
    a {
      color: $themeColor;
    }
  }
}
