.top_back_bx {
  padding-top: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.55rem;
  background-color: #fff;
  position: relative;
  z-index: 11;
  &.radis_type {
    background-color: transparent;
    .radis_icon_bx {
      width: 1.5rem;
      height: 1.5rem;
      @include borderRadius(50%);
      background-color: #fff;
      position: relative;
    }
  }
  .left_bx {
    float: left;
    width: 1rem;
    position: relative;
  }
  .right_bx {
    float: left;
    position: relative;
  }
  .icon_bx {
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    @include positionCenter;
  }
}
