$pagePadding: 0.7rem;

.home-bx {
  height: 100%;
  .cube-scroll-wrapper {
    height: 94vh;
  }
  .home_banner_outbx {
    width: 100%;
    height: 15rem;
    // max-height: 516px;
    position: relative;
    .home_banner_swiper_bx {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .home_top_container {
    text-align: left;
    padding: 0.5rem 0 0.5rem 0.7rem;
    .shop_name {
      color: #fff;
      width: 3rem;
      height: 1rem;
      line-height: 1rem;
      display: block;
      font-size: 0.7rem;
      position: relative;
      .shop_name_span {
        width: 100%;
        display: block;
        @include textSingleShow;
      }
      .icon_bx {
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        top: 0.1rem;
        right: -0.8rem;
      }
    }
  }

  .search_out_bx {
    position: relative;
    padding: 0 0.7rem;
  }

  .home_nav_bx {
    margin-top: 10.46rem;
    padding: 0 0.7rem;
    position: relative;
  }

  .center_container {
    padding: 2.5rem $pagePadding 0;
  }
  .time_discount {
    .title {
      font-size: 0.9rem;
      text-align: left;
      padding: 1rem 0 0.5rem 0.7rem;
      .get_more {
        font-size: 0.6rem;
        float: right;
        padding-right: 0.7rem;
        padding-top: 0.1rem;
        a {
          display: block;
        }
      }
    }
  }
  .goods_list {
    .title {
      font-size: 0.9rem;
      text-align: left;
      padding: 1rem 0 0.5rem 0.7rem;
    }
    .goods_list_inner {
      padding: 0 0.7rem;
    }
  }
}
