$pagePadding: 0.7rem;

.home-bx {
  height: 100%;
  .cube-scroll-wrapper {
    height: 94vh;
  }
  .home_banner {
    width: 100%;
    height: 15rem;
    max-height: 516px;
    padding: 0 $pagePadding;
    @include boxSizing;
    // position: relative;
    background: url('../../assets/home-banner.png') no-repeat center/ 100% 100%;
    .home_top_container {
      text-align: left;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      .shop_name {
        color: #fff;
        font-size: 0.7rem;
        position: relative;
        .icon_bx {
          width: 0.8rem;
          height: 0.8rem;
          position: absolute;
          top: 0.1rem;
          right: -0.8rem;
        }
      }
    }
    .home_nav_bx {
      width: 100%;
      margin-top: 8.1rem;
    }
  }
  .center_container {
    padding: 2.5rem $pagePadding 0;
  }
  .time_discount {
    .title {
      font-size: 0.9rem;
      text-align: left;
      padding: 1rem 0 0.5rem 0.7rem;
    }
  }
  .goods_list {
    .title {
      font-size: 0.9rem;
      text-align: left;
      padding: 1rem 0 0.5rem 0.7rem;
    }
    .goods_list_inner {
      padding: 0 0.7rem;
    }
  }
}
