.budget_bx {
  .budget_back_bx {
    width: 16rem;
  }
  .goods_swiper_layer_bx {
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 0.25rem;
    background-color: #fff;
  }
  .mark_bx {
    height: 2rem;
    font-size: 0.6rem;
    padding: 0 0.65rem;
    background-color: #fff;
    margin: 0.25rem 0 0.7rem;
    .mark_label {
      line-height: 2rem;
    }
    .mark_input {
      color: $inputPlaceHolderColor;
      width: 100%;
      height: 2rem;
      display: block;
      border: 0 none;
    }
  }
  .payment_way {
    font-size: 0.6rem;
    background-color: #fff;
    margin-bottom: 0.25rem;
    .title {
      font-size: 0.75rem;
      height: 1.8rem;
      line-height: 1.8rem;
      text-align: left;
      padding: 0 0.65rem;
    }
    .payment_way_item {
      font-size: 0.75rem;
      height: 1.8rem;
      line-height: 1.8rem;
      padding: 0 0.65rem;
      text-align: left;
      position: relative;
      @include halfTopLine;
      .payment_way_check_bx {
        @include positionMiddle;
        right: 0.65rem;
      }
    }
  }
  .invoice_bx {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.6rem;
    background-color: #fff;
    margin-top: 0.25rem;
    text-align: left;
    padding: 0 0.65rem;
    position: relative;
    .right_bx {
      position: absolute;
      top: 0;
      right: 1.4rem;
      height: 2rem;
      .tip {
        color: $inputPlaceHolderColor;
      }
      .icon_bx {
        width: 0.55rem;
        height: 0.55rem;
        @include positionMiddle;
        right: -0.7rem;
      }
    }
  }
}

.actual_price_input {
  height: 1.8rem;
  line-height: 1.8rem;
  padding: 0 0.65rem;
}
