.search_bx {
  height: 100%;
  // background-color: #fff;
  .search_right_lbx {
    position: relative;
    .icon_bx {
      width: 0.7rem;
      height: 0.7rem;
      color: #2c3e50;
      @include positionMiddle;
      left: 0.7rem;
    }
    .search_input {
      font-size: 0.6rem;
      width: 16rem;
      height: 1.95rem;
      padding-left: 1.7rem;
      background-color: #f5f5f5;
      display: block;
      @include borderRadius(25px);
      @include boxSizing;
      @include placeholderStyle(#9b9b9b);
    }
    .haveCarBtn {
      width: 13.25rem;
    }
  }
  .label_container {
    padding: 0 0.675rem;
    height: 100%;
    background-color: #fff;
  }
}

.top_car_bx {
  @include positionMiddle;
  right: -2rem;
  .tip {
    width: 0.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    color: #fff;
    font-size: 0.6rem;
    position: absolute;
    right: -0.3rem;
    top: -0.3rem;
    background-color: $priceActiveColor;
    @include borderRadius(50%);
  }
  .icon_span {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
  }
}
