@require "~cube-ui/src/common/stylus/var/color.styl"
// button
$btn-color := #fff
$btn-bgc := #51af7f
$btn-active-bgc := #028351

// tab-bar & tab-panel
$tab-color := #333
$tab-active-color := #333
$tab-slider-bgc := #51af7f

// dialog
$dialog-btn-highlight-color := #51af7f
