
.home_nav_bx {
  width: 100%;
  padding: 0 0.5rem;
  background-color: #fff;
  @include borderRadius(7px);
  @include boxSizing;
  .home_nav_item {
    text-align: center;
    a {
      display: block;
    }
    .icon_bx {
      width: 2.1rem;
      height: 2.1rem;
      display: block;
      color: $morenColor;
      margin: 0.5rem auto;
      @include borderRadius(50%);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      &:active {
        color: $themeColor;
      }
    }
    .item_label {
      color: $morenColor;
      font-size: 0.6rem;
      padding-bottom: 0.35rem;
    }
  }
}
